.charity {
    background-color: rgba(206, 241, 208, 0.887);
    text-align: center;
    padding: 10px;
    margin: 30px;
    border-radius: 9px;
    line-height: 20px;
}
.tag {
    font-size: 17px;
    font-weight: 600;
    margin: 15px;
    margin-top: 0px;
}
.mission {
    font-size: 15px;
    line-height: 30px;
}
.charity button {
    font-size: 14px;
    padding: 7px;
    margin: 10px;
    border-radius: 5px;
}